<!DOCTYPE html>
<html>
	<head>
		<title>NCAA March Madness 2015</title>
		<link rel="stylesheet" type="text/css" href="/css/style.css" />
	</head>

	<body>
		<div class="bracket-container">
			<!-- Start upper half (south and west) -->
			<div class="bracket-half">
				<!-- Start south region -->

				<!-- South round of 64 -->
				<ul class="round">
					<li class="slot slot1" id="1r2"><span class="seed"></span> <span class="name"></span></li>
					<li class="slot slot2" id="2r2"><span class="seed"></span> <span class="name"></span></li>
					<li class="empty-double-slot"></li>

					<li class="slot slot1" id="3r2"><span class="seed"></span> <span class="name"></span></li>
					<li class="slot slot2" id="4r2"><span class="seed"></span> <span class="name"></span></li>
					<li class="empty-double-slot"></li>

					<li class="slot slot1" id="5r2"><span class="seed"></span> <span class="name"></span></li>
					<li class="slot slot2" id="6r2"><span class="seed"></span> <span class="name"></span></li>
					<li class="empty-double-slot"></li>

					<li class="slot slot1" id="7r2"><span class="seed"></span> <span class="name"></span></li>
					<li class="slot slot2" id="8r2"><span class="seed"></span> <span class="name"></span></li>
					<li class="empty-double-slot"></li>

					<li class="slot slot1" id="9r2"><span class="seed"></span> <span class="name"></span></li>
					<li class="slot slot2" id="10r2"><span class="seed"></span> <span class="name"></span></li>
					<li class="empty-double-slot"></li>

					<li class="slot slot1" id="11r2"><span class="seed"></span> <span class="name"></span></li>
					<li class="slot slot2" id="12r2"><span class="seed"></span> <span class="name"></span></li>
					<li class="empty-double-slot"></li>

					<li class="slot slot1" id="13r2"><span class="seed"></span> <span class="name"></span></li>
					<li class="slot slot2" id="14r2"><span class="seed"></span> <span class="name"></span></li>
					<li class="empty-double-slot"></li>

					<li class="slot slot1" id="15r2"><span class="seed"></span> <span class="name"></span></li>
					<li class="slot slot2" id="16r2"><span class="seed"></span> <span class="name"></span></li>
				</ul>

				<div class="divider left-side">
					<div class="empty-slot"></div>

					<div class="line top-right"></div>
					<div class="empty-double-slot"></div>
					<div class="line bottom-right"></div>
					<div class="empty-slot"></div>

					<div class="empty-double-slot"></div>

					<div class="empty-slot"></div>
					<div class="line top-right"></div>
					<div class="empty-double-slot"></div>
					<div class="line bottom-right"></div>
					<div class="empty-slot"></div>

					<div class="empty-double-slot"></div>

					<div class="empty-slot"></div>
					<div class="line top-right"></div>
					<div class="empty-double-slot"></div>
					<div class="line bottom-right"></div>
					<div class="empty-slot"></div>

					<div class="empty-double-slot"></div>

					<div class="empty-slot"></div>
					<div class="line top-right"></div>
					<div class="empty-double-slot"></div>
					<div class="line bottom-right"></div>

					<div class="empty-slot"></div>
				</div>

				<!-- South round of 32 -->
				<ul class="round">
					<li class="empty-double-slot"></li>
					<li class="slot slot1" id="1r3"><span class="seed"></span> <span class="name"></span></li>
					<li class="slot slot2" id="2r3"><span class="seed"></span> <span class="name"></span></li>

					<li class="empty-double-slot"></li>
					<li class="empty-double-slot"></li>
					<li class="empty-double-slot"></li>
					<li class="slot slot1" id="3r3"><span class="seed"></span> <span class="name"></span></li>
					<li class="slot slot2" id="4r3"><span class="seed"></span> <span class="name"></span></li>
					
					<li class="empty-double-slot"></li>
					<li class="empty-double-slot"></li>
					<li class="empty-double-slot"></li>
					<li class="slot slot1" id="5r3"><span class="seed"></span> <span class="name"></span></li>
					<li class="slot slot2" id="6r3"><span class="seed"></span> <span class="name"></span></li>
					
					<li class="empty-double-slot"></li>
					<li class="empty-double-slot"></li>
					<li class="empty-double-slot"></li>
					<li class="slot slot1" id="7r3"><span class="seed"></span> <span class="name"></span></li>
					<li class="slot slot2" id="8r3"><span class="seed"></span> <span class="name"></span></li>

					<li class="empty-double-slot"></li>
				</ul>

				<div class="divider left-side">
					<div class="empty-double-slot"></div>

					<div class="empty-slot"></div>
					<div class="line top-right"></div>
					<div class="line right"></div>
					<div class="empty-double-slot"></div>
					<div class="line right"></div>
					<div class="line bottom-right"></div>
					<div class="empty-slot"></div>

					<div class="empty-double-slot"></div>
					<div class="empty-double-slot"></div>
					<div class="empty-double-slot"></div>

					<div class="empty-slot"></div>
					<div class="line top-right"></div>
					<div class="line right"></div>
					<div class="empty-double-slot"></div>
					<div class="line right"></div>
					<div class="line bottom-right"></div>
					<div class="empty-slot"></div>

					<div class="empty-double-slot"></div>
				</div>

				<!-- South round of 16 -->
				<ul class="round">
					<li class="empty-double-slot"></li>
					<li class="empty-double-slot"></li>
					<li class="empty-double-slot"></li>
					<li class="slot slot1" id="1r4"><span class="seed"></span> <span class="name"></span></li>
					<li class="slot slot2" id="2r4"><span class="seed"></span> <span class="name"></span></li>

					<li class="empty-double-slot"></li>
					<li class="empty-double-slot"></li>
					<li class="empty-double-slot"></li>
					<li class="empty-double-slot region-name">SOUTH</li>
					<li class="empty-double-slot"></li>
					<li class="empty-double-slot"></li>
					<li class="empty-double-slot"></li>
					<li class="slot slot1" id="3r4"><span class="seed"></span> <span class="name"></span></li>
					<li class="slot slot2" id="4r4"><span class="seed"></span> <span class="name"></span></li>

					<li class="empty-double-slot"></li>
					<li class="empty-double-slot"></li>
					<li class="empty-double-slot"></li>
				</ul>

				<div class="divider left-side">
					<div class="empty-double-slot"></div>
					<div class="empty-double-slot"></div>
					<div class="empty-double-slot"></div>

					<div class="empty-slot"></div>
					<div class="line top-right"></div>
					<div class="line right"></div>
					<div class="line right"></div>
					<div class="line right"></div>
					<div class="empty-double-slot"></div>
					<div class="line right"></div>
					<div class="line right"></div>
					<div class="line right"></div>
					<div class="line bottom-right"></div>
					<div class="empty-slot"></div>

					<div class="empty-double-slot"></div>
					<div class="empty-double-slot"></div>
					<div class="empty-double-slot"></div>
				</div>

				<!-- South round of 8 -->
				<ul class="round">
					<li class="empty-double-slot"></li>
					<li class="empty-double-slot"></li>
					<li class="empty-double-slot"></li>
					<li class="empty-double-slot"></li>
					<li class="empty-double-slot"></li>
					<li class="empty-double-slot"></li>
					<li class="empty-double-slot"></li>
					
					<li class="slot slot1" id="1r5"><span class="seed"></span> <span class="name"></span></li>
					<li class="slot slot2" id="2r5"><span class="seed"></span> <span class="name"></span></li>

					<li class="empty-double-slot"></li>
					<li class="empty-double-slot"></li>
					<li class="empty-double-slot"></li>
					<li class="empty-double-slot"></li>
					<li class="empty-double-slot"></li>
					<li class="empty-double-slot"></li>
					<li class="empty-double-slot"></li>
				</ul>

				<!-- End south region -->

				<div class="divider center"></div>

				<!-- Start west region -->

				<!-- West round of 8 -->
				<ul class="round">
					<li class="empty-double-slot"></li>
					<li class="empty-double-slot"></li>
					<li class="empty-double-slot"></li>
					<li class="empty-double-slot"></li>
					<li class="empty-double-slot"></li>
					<li class="empty-double-slot"></li>
					<li class="empty-double-slot"></li>
					
					<li class="slot slot1" id="7r5"><span class="seed"></span> <span class="name"></span></li>
					<li class="slot slot2" id="8r5"><span class="seed"></span> <span class="name"></span></li>

					<li class="empty-double-slot"></li>
					<li class="empty-double-slot"></li>
					<li class="empty-double-slot"></li>
					<li class="empty-double-slot"></li>
					<li class="empty-double-slot"></li>
					<li class="empty-double-slot"></li>
					<li class="empty-double-slot"></li>
				</ul>

				<div class="divider right-side">
					<div class="empty-double-slot"></div>
					<div class="empty-double-slot"></div>
					<div class="empty-double-slot"></div>

					<div class="empty-slot"></div>
					<div class="line top-left"></div>
					<div class="line left"></div>
					<div class="line left"></div>
					<div class="line left"></div>
					<div class="empty-double-slot"></div>
					<div class="line left"></div>
					<div class="line left"></div>
					<div class="line left"></div>
					<div class="line bottom-left"></div>
					<div class="empty-slot"></div>

					<div class="empty-double-slot"></div>
					<div class="empty-double-slot"></div>
					<div class="empty-double-slot"></div>
				</div>

				<!-- West round of 16 -->
				<ul class="round">
					<li class="empty-double-slot"></li>
					<li class="empty-double-slot"></li>
					<li class="empty-double-slot"></li>
					<li class="slot slot1" id="13r4"><span class="seed"></span> <span class="name"></span></li>
					<li class="slot slot2" id="14r4"><span class="seed"></span> <span class="name"></span></li>

					<li class="empty-double-slot"></li>
					<li class="empty-double-slot"></li>
					<li class="empty-double-slot"></li>
					<li class="empty-double-slot region-name">WEST</li>
					<li class="empty-double-slot"></li>
					<li class="empty-double-slot"></li>
					<li class="empty-double-slot"></li>
					<li class="slot slot1" id="15r4"><span class="seed"></span> <span class="name"></span></li>
					<li class="slot slot2" id="16r4"><span class="seed"></span> <span class="name"></span></li>

					<li class="empty-double-slot"></li>
					<li class="empty-double-slot"></li>
					<li class="empty-double-slot"></li>

				</ul>

				<div class="divider right-side">
					<div class="empty-double-slot"></div>

					<div class="empty-slot"></div>
					<div class="line top-left"></div>
					<div class="line left"></div>
					<div class="empty-double-slot"></div>
					<div class="line left"></div>
					<div class="line bottom-left"></div>
					<div class="empty-slot"></div>

					<div class="empty-double-slot"></div>
					<div class="empty-double-slot"></div>
					<div class="empty-double-slot"></div>

					<div class="empty-slot"></div>
					<div class="line top-left"></div>
					<div class="line left"></div>
					<div class="empty-double-slot"></div>
					<div class="line left"></div>
					<div class="line bottom-left"></div>
					<div class="empty-slot"></div>

					<div class="empty-double-slot"></div>

				</div>

				<!-- West round of 32 -->
				<ul class="round">
					<li class="empty-double-slot"></li>
					<li class="slot slot1" id="25r3"><span class="seed"></span> <span class="name"></span></li>
					<li class="slot slot2" id="26r3"><span class="seed"></span> <span class="name"></span></li>

					<li class="empty-double-slot"></li>
					<li class="empty-double-slot"></li>
					<li class="empty-double-slot"></li>
					<li class="slot slot1" id="27r3"><span class="seed"></span> <span class="name"></span></li>
					<li class="slot slot2" id="28r3"><span class="seed"></span> <span class="name"></span></li>
					

					<!-- Start other region -->
					<li class="empty-double-slot"></li>
					<li class="empty-double-slot"></li>
					<li class="empty-double-slot"></li>
					<li class="slot slot1" id="29r3"><span class="seed"></span> <span class="name"></span></li>
					<li class="slot slot2" id="30r3"><span class="seed"></span> <span class="name"></span></li>
					
					<li class="empty-double-slot"></li>
					<li class="empty-double-slot"></li>
					<li class="empty-double-slot"></li>
					<li class="slot slot1" id="31r3"><span class="seed"></span> <span class="name"></span></li>
					<li class="slot slot2" id="32r3"><span class="seed"></span> <span class="name"></span></li>

					<li class="empty-double-slot"></li>
				</ul>

				<div class="divider right-side">
					<div class="empty-slot"></div>

					<div class="line top-left"></div>
					<div class="empty-double-slot"></div>
					<div class="line bottom-left"></div>
					<div class="empty-slot"></div>

					<div class="empty-double-slot"></div>

					<div class="empty-slot"></div>
					<div class="line top-left"></div>
					<div class="empty-double-slot"></div>
					<div class="line bottom-left"></div>
					<div class="empty-slot"></div>

					<div class="empty-double-slot"></div>

					<div class="empty-slot"></div>
					<div class="line top-left"></div>
					<div class="empty-double-slot"></div>
					<div class="line bottom-left"></div>
					<div class="empty-slot"></div>

					<div class="empty-double-slot"></div>

					<div class="empty-slot"></div>
					<div class="line top-left"></div>
					<div class="empty-double-slot"></div>
					<div class="line bottom-left"></div>

					<div class="empty-slot"></div>

				</div>

				<!-- West round of 64 -->
				<ul class="round">
					<li class="slot slot1" id="49r2"><span class="seed"></span> <span class="name"></span></li>
					<li class="slot slot2" id="50r2"><span class="seed"></span> <span class="name"></span></li>
					<li class="empty-double-slot"></li>

					<li class="slot slot1" id="51r2"><span class="seed"></span> <span class="name"></span></li>
					<li class="slot slot2" id="52r2"><span class="seed"></span> <span class="name"></span></li>
					<li class="empty-double-slot"></li>

					<li class="slot slot1" id="53r2"><span class="seed"></span> <span class="name"></span></li>
					<li class="slot slot2" id="54r2"><span class="seed"></span> <span class="name"></span></li>
					<li class="empty-double-slot"></li>

					<li class="slot slot1" id="55r2"><span class="seed"></span> <span class="name"></span></li>
					<li class="slot slot2" id="56r2"><span class="seed"></span> <span class="name"></span></li>
					<li class="empty-double-slot"></li>

					<!-- Start other region -->

					<li class="slot slot1" id="57r2"><span class="seed"></span> <span class="name"></span></li>
					<li class="slot slot2" id="58r2"><span class="seed"></span> <span class="name"></span></li>
					<li class="empty-double-slot"></li>

					<li class="slot slot1" id="59r2"><span class="seed"></span> <span class="name"></span></li>
					<li class="slot slot2" id="60r2"><span class="seed"></span> <span class="name"></span></li>
					<li class="empty-double-slot"></li>

					<li class="slot slot1" id="61r2"><span class="seed"></span> <span class="name"></span></li>
					<li class="slot slot2" id="62r2"><span class="seed"></span> <span class="name"></span></li>
					<li class="empty-double-slot"></li>

					<li class="slot slot1" id="63r2"><span class="seed"></span> <span class="name"></span></li>
					<li class="slot slot2" id="64r2"><span class="seed"></span> <span class="name"></span></li>
				</ul>

			</div>
			<!-- End upper half -->

			<!-- Start final four -->
			<div class="final-four">
				<div class="final-four-matches">
					<ul class="round">
						<li class="slot slot1" id="1r6"><span class="seed"></span> <span class="name"></span></li>
						<li class="slot slot2" id="2r6"><span class="seed"></span> <span class="name"></span></li>
					</ul>

					<div class="divider"></div>

					<ul class="round">
						<li class="slot slot1" id="1r7"><span class="seed"></span> <span class="name"></span></li>
						<li class="slot slot2" id="2r7"><span class="seed"></span> <span class="name"></span></li>
					</ul>

					<div class="divider"></div>

					<ul class="round">
						<li class="slot slot1" id="4r6"><span class="seed"></span> <span class="name"></span></li>
						<li class="slot slot2" id="3r6"><span class="seed"></span> <span class="name"></span></li>
					</ul>

				</div>

				<strong class="national-champion">NATIONAL CHAMPION</strong>
				<div class="feature-slot" id="champion"><span class="seed"></span>&nbsp;&nbsp;<span class="name"></span></div>
			</div>
			<!-- End final four -->

			<!-- Start lower half (east and midwest) -->
			<div class="bracket-half">
				<!-- Start east region -->

				<!-- East round of 64 -->
				<ul class="round">
					<li class="slot slot1" id="17r2"><span class="seed"></span> <span class="name"></span></li>
					<li class="slot slot2" id="18r2"><span class="seed"></span> <span class="name"></span></li>
					<li class="empty-double-slot"></li>

					<li class="slot slot1" id="19r2"><span class="seed"></span> <span class="name"></span></li>
					<li class="slot slot2" id="20r2"><span class="seed"></span> <span class="name"></span></li>
					<li class="empty-double-slot"></li>

					<li class="slot slot1" id="21r2"><span class="seed"></span> <span class="name"></span></li>
					<li class="slot slot2" id="22r2"><span class="seed"></span> <span class="name"></span></li>
					<li class="empty-double-slot"></li>

					<li class="slot slot1" id="23r2"><span class="seed"></span> <span class="name"></span></li>
					<li class="slot slot2" id="24r2"><span class="seed"></span> <span class="name"></span></li>
					<li class="empty-double-slot"></li>

					<li class="slot slot1" id="25r2"><span class="seed"></span> <span class="name"></span></li>
					<li class="slot slot2" id="26r2"><span class="seed"></span> <span class="name"></span></li>
					<li class="empty-double-slot"></li>

					<li class="slot slot1" id="27r2"><span class="seed"></span> <span class="name"></span></li>
					<li class="slot slot2" id="28r2"><span class="seed"></span> <span class="name"></span></li>
					<li class="empty-double-slot"></li>

					<li class="slot slot1" id="29r2"><span class="seed"></span> <span class="name"></span></li>
					<li class="slot slot2" id="30r2"><span class="seed"></span> <span class="name"></span></li>
					<li class="empty-double-slot"></li>

					<li class="slot slot1" id="31r2"><span class="seed"></span> <span class="name"></span></li>
					<li class="slot slot2" id="32r2"><span class="seed"></span> <span class="name"></span></li>
				</ul>

				<div class="divider left-side">
					<div class="empty-slot"></div>

					<div class="line top-right"></div>
					<div class="empty-double-slot"></div>
					<div class="line bottom-right"></div>
					<div class="empty-slot"></div>

					<div class="empty-double-slot"></div>

					<div class="empty-slot"></div>
					<div class="line top-right"></div>
					<div class="empty-double-slot"></div>
					<div class="line bottom-right"></div>
					<div class="empty-slot"></div>

					<div class="empty-double-slot"></div>

					<div class="empty-slot"></div>
					<div class="line top-right"></div>
					<div class="empty-double-slot"></div>
					<div class="line bottom-right"></div>
					<div class="empty-slot"></div>

					<div class="empty-double-slot"></div>

					<div class="empty-slot"></div>
					<div class="line top-right"></div>
					<div class="empty-double-slot"></div>
					<div class="line bottom-right"></div>

					<div class="empty-slot"></div>
				</div>

				<!-- East round of 32 -->
				<ul class="round">
					<li class="empty-double-slot"></li>
					<li class="slot slot1" id="9r3"><span class="seed"></span> <span class="name"></span></li>
					<li class="slot slot2" id="10r3"><span class="seed"></span> <span class="name"></span></li>

					<li class="empty-double-slot"></li>
					<li class="empty-double-slot"></li>
					<li class="empty-double-slot"></li>
					<li class="slot slot1" id="11r3"><span class="seed"></span> <span class="name"></span></li>
					<li class="slot slot2" id="12r3"><span class="seed"></span> <span class="name"></span></li>
					
					<li class="empty-double-slot"></li>
					<li class="empty-double-slot"></li>
					<li class="empty-double-slot"></li>
					<li class="slot slot1" id="13r3"><span class="seed"></span> <span class="name"></span></li>
					<li class="slot slot2" id="14r3"><span class="seed"></span> <span class="name"></span></li>
					
					<li class="empty-double-slot"></li>
					<li class="empty-double-slot"></li>
					<li class="empty-double-slot"></li>
					<li class="slot slot1" id="15r3"><span class="seed"></span> <span class="name"></span></li>
					<li class="slot slot2" id="16r3"><span class="seed"></span> <span class="name"></span></li>

					<li class="empty-double-slot"></li>
				</ul>

				<div class="divider left-side">
					<div class="empty-double-slot"></div>

					<div class="empty-slot"></div>
					<div class="line top-right"></div>
					<div class="line right"></div>
					<div class="empty-double-slot"></div>
					<div class="line right"></div>
					<div class="line bottom-right"></div>
					<div class="empty-slot"></div>

					<div class="empty-double-slot"></div>
					<div class="empty-double-slot"></div>
					<div class="empty-double-slot"></div>

					<div class="empty-slot"></div>
					<div class="line top-right"></div>
					<div class="line right"></div>
					<div class="empty-double-slot"></div>
					<div class="line right"></div>
					<div class="line bottom-right"></div>
					<div class="empty-slot"></div>

					<div class="empty-double-slot"></div>
				</div>

				<!-- East round of 16 -->
				<ul class="round">
					<li class="empty-double-slot"></li>
					<li class="empty-double-slot"></li>
					<li class="empty-double-slot"></li>
					<li class="slot slot1" id="5r4"><span class="seed"></span> <span class="name"></span></li>
					<li class="slot slot2" id="6r4"><span class="seed"></span> <span class="name"></span></li>

					<li class="empty-double-slot"></li>
					<li class="empty-double-slot"></li>
					<li class="empty-double-slot"></li>
					<li class="empty-double-slot region-name">EAST</li>
					<li class="empty-double-slot"></li>
					<li class="empty-double-slot"></li>
					<li class="empty-double-slot"></li>
					<li class="slot slot1" id="7r4"><span class="seed"></span> <span class="name"></span></li>
					<li class="slot slot2" id="8r4"><span class="seed"></span> <span class="name"></span></li>

					<li class="empty-double-slot"></li>
					<li class="empty-double-slot"></li>
					<li class="empty-double-slot"></li>
				</ul>

				<div class="divider left-side">
					<div class="empty-double-slot"></div>
					<div class="empty-double-slot"></div>
					<div class="empty-double-slot"></div>

					<div class="empty-slot"></div>
					<div class="line top-right"></div>
					<div class="line right"></div>
					<div class="line right"></div>
					<div class="line right"></div>
					<div class="empty-double-slot"></div>
					<div class="line right"></div>
					<div class="line right"></div>
					<div class="line right"></div>
					<div class="line bottom-right"></div>
					<div class="empty-slot"></div>

					<div class="empty-double-slot"></div>
					<div class="empty-double-slot"></div>
					<div class="empty-double-slot"></div>
				</div>

				<!-- East round of 8 -->
				<ul class="round">
					<li class="empty-double-slot"></li>
					<li class="empty-double-slot"></li>
					<li class="empty-double-slot"></li>
					<li class="empty-double-slot"></li>
					<li class="empty-double-slot"></li>
					<li class="empty-double-slot"></li>
					<li class="empty-double-slot"></li>
					
					<li class="slot slot1" id="3r5"><span class="seed"></span> <span class="name"></span></li>
					<li class="slot slot2" id="4r5"><span class="seed"></span> <span class="name"></span></li>

					<li class="empty-double-slot"></li>
					<li class="empty-double-slot"></li>
					<li class="empty-double-slot"></li>
					<li class="empty-double-slot"></li>
					<li class="empty-double-slot"></li>
					<li class="empty-double-slot"></li>
					<li class="empty-double-slot"></li>
				</ul>

				<!-- End east region -->

				<div class="divider center"></div>

				<!-- Start midwest region -->

				<!-- Midwest round of 8 -->
				<ul class="round">
					<li class="empty-double-slot"></li>
					<li class="empty-double-slot"></li>
					<li class="empty-double-slot"></li>
					<li class="empty-double-slot"></li>
					<li class="empty-double-slot"></li>
					<li class="empty-double-slot"></li>
					<li class="empty-double-slot"></li>
					
					<li class="slot slot1" id="5r5"><span class="seed"></span> <span class="name"></span></li>
					<li class="slot slot2" id="6r5"><span class="seed"></span> <span class="name"></span></li>

					<li class="empty-double-slot"></li>
					<li class="empty-double-slot"></li>
					<li class="empty-double-slot"></li>
					<li class="empty-double-slot"></li>
					<li class="empty-double-slot"></li>
					<li class="empty-double-slot"></li>
					<li class="empty-double-slot"></li>
				</ul>

				<div class="divider right-side">
					<div class="empty-double-slot"></div>
					<div class="empty-double-slot"></div>
					<div class="empty-double-slot"></div>

					<div class="empty-slot"></div>
					<div class="line top-left"></div>
					<div class="line left"></div>
					<div class="line left"></div>
					<div class="line left"></div>
					<div class="empty-double-slot"></div>
					<div class="line left"></div>
					<div class="line left"></div>
					<div class="line left"></div>
					<div class="line bottom-left"></div>
					<div class="empty-slot"></div>

					<div class="empty-double-slot"></div>
					<div class="empty-double-slot"></div>
					<div class="empty-double-slot"></div>
				</div>

				<!-- Midwest round of 16 -->
				<ul class="round">
					<li class="empty-double-slot"></li>
					<li class="empty-double-slot"></li>
					<li class="empty-double-slot"></li>
					<li class="slot slot1" id="9r4"><span class="seed"></span> <span class="name"></span></li>
					<li class="slot slot2" id="10r4"><span class="seed"></span> <span class="name"></span></li>

					<li class="empty-double-slot"></li>
					<li class="empty-double-slot"></li>
					<li class="empty-double-slot"></li>
					<li class="empty-double-slot region-name">MIDWEST</li>
					<li class="empty-double-slot"></li>
					<li class="empty-double-slot"></li>
					<li class="empty-double-slot"></li>
					<li class="slot slot1" id="11r4"><span class="seed"></span> <span class="name"></span></li>
					<li class="slot slot2" id="12r4"><span class="seed"></span> <span class="name"></span></li>

					<li class="empty-double-slot"></li>
					<li class="empty-double-slot"></li>
					<li class="empty-double-slot"></li>

				</ul>

				<div class="divider right-side">
					<div class="empty-double-slot"></div>

					<div class="empty-slot"></div>
					<div class="line top-left"></div>
					<div class="line left"></div>
					<div class="empty-double-slot"></div>
					<div class="line left"></div>
					<div class="line bottom-left"></div>
					<div class="empty-slot"></div>

					<div class="empty-double-slot"></div>
					<div class="empty-double-slot"></div>
					<div class="empty-double-slot"></div>

					<div class="empty-slot"></div>
					<div class="line top-left"></div>
					<div class="line left"></div>
					<div class="empty-double-slot"></div>
					<div class="line left"></div>
					<div class="line bottom-left"></div>
					<div class="empty-slot"></div>

					<div class="empty-double-slot"></div>

				</div>

				<!-- Midwest round of 32 -->
				<ul class="round">
					<li class="empty-double-slot"></li>
					<li class="slot slot1" id="17r3"><span class="seed"></span> <span class="name"></span></li>
					<li class="slot slot2" id="18r3"><span class="seed"></span> <span class="name"></span></li>

					<li class="empty-double-slot"></li>
					<li class="empty-double-slot"></li>
					<li class="empty-double-slot"></li>
					<li class="slot slot1" id="19r3"><span class="seed"></span> <span class="name"></span></li>
					<li class="slot slot2" id="20r3"><span class="seed"></span> <span class="name"></span></li>
					
					<li class="empty-double-slot"></li>
					<li class="empty-double-slot"></li>
					<li class="empty-double-slot"></li>
					<li class="slot slot1" id="21r3"><span class="seed"></span> <span class="name"></span></li>
					<li class="slot slot2" id="22r3"><span class="seed"></span> <span class="name"></span></li>
					
					<li class="empty-double-slot"></li>
					<li class="empty-double-slot"></li>
					<li class="empty-double-slot"></li>
					<li class="slot slot1" id="23r3"><span class="seed"></span> <span class="name"></span></li>
					<li class="slot slot2" id="24r3"><span class="seed"></span> <span class="name"></span></li>

					<li class="empty-double-slot"></li>
				</ul>

				<div class="divider right-side">
					<div class="empty-slot"></div>

					<div class="line top-left"></div>
					<div class="empty-double-slot"></div>
					<div class="line bottom-left"></div>
					<div class="empty-slot"></div>

					<div class="empty-double-slot"></div>

					<div class="empty-slot"></div>
					<div class="line top-left"></div>
					<div class="empty-double-slot"></div>
					<div class="line bottom-left"></div>
					<div class="empty-slot"></div>

					<div class="empty-double-slot"></div>

					<div class="empty-slot"></div>
					<div class="line top-left"></div>
					<div class="empty-double-slot"></div>
					<div class="line bottom-left"></div>
					<div class="empty-slot"></div>

					<div class="empty-double-slot"></div>

					<div class="empty-slot"></div>
					<div class="line top-left"></div>
					<div class="empty-double-slot"></div>
					<div class="line bottom-left"></div>

					<div class="empty-slot"></div>

				</div>

				<!-- Midwest round of 64 -->
				<ul class="round">
					<li class="slot slot1" id="33r2"><span class="seed"></span> <span class="name"></span></li>
					<li class="slot slot2" id="34r2"><span class="seed"></span> <span class="name"></span></li>
					<li class="empty-double-slot"></li>

					<li class="slot slot1" id="35r2"><span class="seed"></span> <span class="name"></span></li>
					<li class="slot slot2" id="36r2"><span class="seed"></span> <span class="name"></span></li>
					<li class="empty-double-slot"></li>

					<li class="slot slot1" id="37r2"><span class="seed"></span> <span class="name"></span></li>
					<li class="slot slot2" id="38r2"><span class="seed"></span> <span class="name"></span></li>
					<li class="empty-double-slot"></li>

					<li class="slot slot1" id="39r2"><span class="seed"></span> <span class="name"></span></li>
					<li class="slot slot2" id="40r2"><span class="seed"></span> <span class="name"></span></li>
					<li class="empty-double-slot"></li>

					<li class="slot slot1" id="41r2"><span class="seed"></span> <span class="name"></span></li>
					<li class="slot slot2" id="42r2"><span class="seed"></span> <span class="name"></span></li>
					<li class="empty-double-slot"></li>

					<li class="slot slot1" id="43r2"><span class="seed"></span> <span class="name"></span></li>
					<li class="slot slot2" id="44r2"><span class="seed"></span> <span class="name"></span></li>
					<li class="empty-double-slot"></li>

					<li class="slot slot1" id="45r2"><span class="seed"></span> <span class="name"></span></li>
					<li class="slot slot2" id="46r2"><span class="seed"></span> <span class="name"></span></li>
					<li class="empty-double-slot"></li>

					<li class="slot slot1" id="47r2"><span class="seed"></span> <span class="name"></span></li>
					<li class="slot slot2" id="48r2"><span class="seed"></span> <span class="name"></span></li>
				</ul>

			</div>
			<!-- End lower half -->

		</div>

		<div class="debug">
			<p id="time"></p>
			<p id="link"><a></a></p>
		</div>
	</body>

</html>